body, html {
  height: 100%;
}

.bg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg strong, .bg em {
  color: #FFFFFF;
  opacity: .8;
}

.bg a {
  color: #FFFFFF;
  opacity: .2;
}

.bg a:hover {
  color: #FFFFFF;
  opacity: .8;
}

#arrowDown {
  width: 48px;
  height: 48px;
}