.resume {
  padding: 55px 25px 50px 25px;
}

.resume a {
  color: inherit;
}

#header {
  padding-bottom: 25px;
}

#header h4{
  color: #1a202c;
  text-align: right;

  padding-right: 100px;
  padding-bottom: 4px;

  margin: 0 auto;
}

/* Pink underline for the Section Header */
#header em {
  border-bottom: 2px solid #FF00B4;
}

.skills h6, .experience p {
  padding-bottom: 20px;
}

.experience {
  padding-top: 25px;
}

.experience a:hover{
  color: inherit;
  opacity: .6;
}