header {
  max-width: 100%;
  margin: 0;
  padding: 0 auto;
  border: 0;
}

.navbar {
  /* position: relative; */
  top: 0;
  color: #FFFFFF;
  font-size: 1rem;
  max-width: 100%;
  margin: 0;
  padding: 0 auto;
  border: 0;
}

#navlink{
  color: inherit;
  list-style: none;
  padding: 5px 35px;
}

span {
  color: white;
}