.aboutPage{
  align-items: flex-start;
}

/*  Contains portfolio image and page nav */
.profileImage {
position: -webkit-sticky;
position: sticky;
top: 3rem;
padding: 15px;
}

#aboutNav {
  list-style: none;
  text-align: center;
  padding-left: 10px;
  
}

li {
  padding: 4px;
  justify-content: center;
}

/* Contains description of background and experience */
.my-background, .my-experience, .my-contact {
  padding: 15px 0px ;
  padding-left: 30px;
}

#sectionHeader {
  padding-top: 25px;
}

#desc {
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
}
