body, html {
  background-color: #121212;
}

.aboutPage{
  align-items: flex-start;
}

.profileImage {
  padding-top: 62px;
  padding-left: 50px;
}

#aboutNav {
  list-style: none;
  text-align: center;
  padding-left: 10px;
  
}

.my-background, .my-experience, .my-contact {
  padding: 15px 0px ;
  padding-left: 30px;
}

#sectionHeader, #desc {
  color: #FFFFFF;
  
}

#sectionHeader {
  width: 100px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 4px;
  border-bottom-style: solid;
  opacity: .85;

  /* border-bottom-color: #FF00B4; */
  border-bottom-color: #c70084;
  
}

#desc {
  float: left;
  padding-right: 50px;
  opacity: .75;
}
