/* Styling for the entire blog section */
.blog {
  width: 100%;
  padding: 20px;
}

/* Styling for individual posts */
.blogPost {
  padding: 25px 35px;
}

#body {
  margin: 25px 35px;
}

.pl1 {
  padding: 15px;
}
