.portfolioSection {
  align-content: center;
  padding: 55px 25px 50px 25px;
}

.projects {
  padding-bottom: 25px;
}

#portfolioHeader h4 {
  color: #FFFFFF;
  text-align: right;
  opacity: .8;

  padding-right: 100px;
  padding-bottom: 4px;

  margin: 0 auto;
}

#portfolioHeader em {
  border-bottom: 2px solid #FF00B4;
}

.projDiv {
  background-color: #121212;
  padding-top: 5px;
  padding-bottom: 5px;
  align-content: center;
}