.projDiv {
  background-color: white;
  padding: 25px;
  margin: 10px;

  /* border: black; */
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-radius: 10px; */
  
}

.subRow {
  background-color: white;
  /* padding: 10px 0px; */
  /* border: black; */
  /* border-style: dashed; */
  /* border-width: 2px; */
}

#projImg {
  display: flex;
  justify-content: left;
  /* border: black; */
  /* border-style: solid; */
  /* border-width: 2px; */
}

#projTitle {
  text-align: left;
}

#projDesc {
  text-align: left;
  vertical-align: middle;
}

#projLinks {
  text-size-adjust: 5px;
}