.portfolioPage {
  /* padding: 25px; */
  /* margin: 10px; */
  align-content: center;
}

.portfolioPage h4 {
  color: #000000;
}

.portfolioPage strong {
  border-bottom: 2px solid #FF00B4;
}

.projDiv {
  background-color: white;
  margin: 10px;
  align-content: center;
}